@import "pretendard/dist/web/static/pretendard.css";
@import "tailwindcss";

html {
  touch-action: manipulation;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

@theme {
  --font-sans:
    "Pretendard", -apple-system, BlinkMacSystemFont, system-ui, Roboto,
    sans-serif;
  --color-grey-0: #ffffff;
  --color-grey-10: #f3f4f7;
  --color-grey-20: #e7e9ee;
  --color-grey-30: #dfe2ea;
  --color-grey-40: #cdd1da;
  --color-grey-50: #afb6c4;
  --color-grey-60: #858c9c;
  --color-grey-70: #5f6473;
  --color-grey-80: #4f5563;
  --color-grey-90: #2d3038;
  --color-grey-95: #414450;
  /* Heading/28 */
  --text-heading-28: 28px;
  --text-heading-28--line-height: normal;
  --text-heading-28--letter-spacing: -0.56px;
  --text-heading-28--font-weight: 700;
  /* Text/16 */
  --text-16: 16px;
  --text-16--line-height: 26px;
  --text-16--letter-spacing: -0.32px;
  --text-16--font-weight: 400;
}

html,
body {
  background-color: #f6f8fa;
  overscroll-behavior-y: none;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fade-in {
  animation: fade-in 0.3s ease-out;
}

:root {
  --diary-modal-min-h: 200px;
}

.scrollbar-hide {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
